



.button {
	text-align: left;
	font-size: 10px;
	padding: 20px 0 0 0;

	&__box{
		display: inline-block;
		position: relative;
		width: 160px;
		height: 40px;
		&::after{
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			background-color: #ED5F3F ;
			bottom: -6px;
			width: 30px;
			height: 12px;
			border-radius: 10px;
			transition: 0.5s;
			transition-delay:0s; 
			box-shadow: 0 0 5px #ED5F3F,
						0 0 15px #ED5F3F,
						0 0 30px #ED5F3F,
				//		0 0 60px #ED5F3F;
		}
		&:hover::after{
			bottom: 0px;
			width: 90%;
			height: 60%;
			transition-delay:0.5s;
		}
		&::before{
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			background-color: #ED5F3F;
			top: -6px;
			width: 30px;
			height: 12px;
			border-radius: 10px;
			transition: 0.5s;
			transition-delay:0s; 
			box-shadow: 0 0 5px #ED5F3F,
						0 0 15px #ED5F3F,
						0 0 30px #ED5F3F,
				//		0 0 60px #ED5F3F;
		}
		&:hover::before{
			top: 0px;
			width: 90%;
			height: 60%;
			transition-delay:0.5s;
		}
	}
	&__item {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 10;
		font-size: 20px;
		background-color: rgba(116, 107, 105, 0.1);
		border-bottom:2px solid rgba(116, 107, 105, 0.2);
		border-top:2px solid rgba(116, 107, 105, 0.2);
		backdrop-filter: blur(4px);
		overflow: hidden;

	}
	&__item::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: linear-gradient(to left, rgba(255,255,255,0.6),transparent);
		transform: skewX(45deg) translateX(0);
		transition: 0.4s;
	}
	&__item:hover::before{
		transform: skewX(45deg) translateX(200%);
	}
}

