@import "_nullStyle.scss";
@import "_header.scss";
@import "_buttons.scss";

body {
	//	height: 100%;
	background-color: #eef2f2;
	//	background-color: grey;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #dc8851;
	font-size: 25px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	@media (max-width: 700px) {
		padding: 0 10px;
	}
}

.wrapper {
	//	min-height: 1500px;
}

body._lock{
	overflow: hidden;
}



//Content
.content {
}

//Zero Row
.rowZero {
	padding: 300px 0;
	background: linear-gradient(180deg, #eef2f2 1%, rgba(232,155,108,1) 52%, #eef2f2 100%);
	margin: 0px 0;
	transition-duration: 1.2s;
	&_row {
		display: flex;
		justify-content: center;
	}
}

.rowZero:hover {
	//	transform: scale(1.2, 1.2);
	//	transition-duration: 0.7s;
}

.wrap3d {
	max-width: 300px;
	perspective-origin: center;
	perspective: 500px;
	transition-duration: 0.7s;
	& div {
		overflow: hidden;
		box-shadow: 0 0 10px #000;
	}
	& img {
		//	display: inline-block;
		width: 100%;
	}
	& div:before {
		position: absolute;
		left: -150px;
		content: "";
		display: inline-block;
		width: 40px;
		height: 300px;
		background-color: #fff;
		transition-duration: 0.5s;
		transform: skew(-30deg, 0deg);
	}
	& div:hover:before {
		left: 450px;
		transition-duration: 1.2s;
	}
}
.wrap3d:hover {
	transition-duration: 0.7s;
	transform: scale(1.2, 1.2);
	z-index: 10;
}

#box_01 {
	transform: rotateY(-40deg);
	@media (max-width: 700px) {
		transform: rotateY(-50deg);
	}
	@media (max-width: 400px) {
		transform: rotateY(-70deg);
	}
}

#box_02 {
	transform: scale(1, 1.3);
	@media (max-width: 700px) {
		transform: scale(1.2, 1.2);
	}
	@media (max-width: 400px) {
		transform: scale(1.5, 1.3);
	}
}

#box_03 {
	transform: rotateY(40deg);
	@media (max-width: 700px) {
		transform: rotateY(50deg);
	}
	@media (max-width: 400px) {
		transform: rotateY(70deg);
	}
}

//Zero row end

//Content FirstRow

.rowFirst-wrap {
	min-height: 300px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.rowFirst {
	margin: 100px;
	@media (max-width: 700px) {
		margin: 10px 10px 60px 10px;
	}
	&__title {
		text-align: center;
		margin: 40px 0;
	}
	&__block {
		position: relative;
		align-items: center;
		padding: 20px;
		//		min-height: 100px;
		flex: 0 0 45%;
		box-shadow: 1px 1px 10px grey;
		background-color: rgba(254, 249, 231, 0.5);
		display: flex;
		transition-duration: 0.3s;

		@media (max-width: 400px) {
			padding: 10px;
			flex: 0 0 90%;
			justify-content: center;
			margin: 15px 0;
		}
		& span {
			display: inline-block;
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			font-size: 150px;
			z-index: 1;
			@media (max-width: 400px) {
				font-size: 100px;
			}
		}
		& p {
			z-index: 10;
			display: inline-block;
			//		position: absolute;
			font-size: 30px;
			color: #7e5109;
			@media (max-width: 700px) {
				font-size: 25px;
			}
		}
	}
	&__block:hover {
		transform: scale(1.1, 1.1);
		transition-duration: 0.3s;
		background-color: rgba(254, 249, 231, 1);
		box-shadow: 1px 1px 19px #7e5109;
	}
}
//Content FirstRow

//Content SecondRow
.rowSec {
	&__title {
		text-align: center;
	}
}

//Link to menu
.backMain {
	text-align: left;
	& a {
		border-radius: 10px;
	}
}
.menu {
	&__link {
		font-size: 20px;
	}
}
//Link to menu

.sliderBlock {
	margin: 100px 0;
	border: 1px solid #000;
	position: relative;
	padding: 0 15px;
	box-shadow: 0 0 20px #363130;

	&__name {
		padding: 0 0 10px 0;
		font-size: 20px;
		letter-spacing: 4px;
		display: flex;
		justify-content: space-between;
		& p {
			display: inline-block;
			text-transform: none;
			//			max-width:200px;
			//			position: absolute;
			left: 10px;
			top: 50%;
			& span {
				color: #688548;
				text-transform: uppercase;
			}
			@media (max-width: 900px) {
			}
		}
		& span {
			display: inline-block;
			max-width: 300px;
			//		position: absolute;
			right: 10px;
			top: 50%;
			@media (max-width: 900px) {
			}
		}
	}
}
.slider {
	position: relative;
	padding: 0 40px;
	text-align: center;
	& .slick-arrow {
		position: absolute;
		top: 25%;
		font-size: 0;
		z-index: 20;
		&.slick-arrow.slick-prev {
			left: 0;
			width: 30px;
			height: 30px;
			background: url("..//..//img/icons/Arrow-left.png") 0 0 no-repeat;
		}
		&.slick-arrow.slick-next {
			right: 0;
			width: 30px;
			height: 30px;
			background: url("..//..//img/icons/Arrow-right.png") 0 0 no-repeat;
		}
	}
	& .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	& .slick-dots li {
		list-style: none;
		margin: none;
	}
	& .slick-dots li button {
		font-size: 0;
		width: 10px;
		height: 10px;
		border: 1px solid #000;
		border-radius: 50%;
		margin: 10px;
	}
	& .slick-dots li.slick-active button {
		background-color: #000;
		width: 12px;
		height: 12px;
	}
	&__item {
		max-width: 150px;
		max-height: 150px;
		//		margin: 0 50px;
		text-align: center;
		opacity: 0.4;
		transition: all 0.3s ease 0s;
		@media (max-width: 700px) {
			max-width: 150px;
			//	max-height: 100px;
			margin: 0 10px;
		}
		@media (max-width: 400px) {
			//	max-width: 150px;
		}
		&.slick-center {
			opacity: 1;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
//Big Slider
.sliderBig {
	max-width: 500px;
	max-height: 500px;
	//	text-align: center;
	margin: 50px auto;
	box-shadow: 1px 1px 59px #7e5109;
	transition: all 0.8s ease 0s;
//	z-index: 30;
	z-index: 1 !important;
	overflow: hidden;
	&__item {
		//		height:500px;
		//		text-align: center;
		//	max-width: 500px;
		box-shadow: 1px 1px 59px #7e5109;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	& p {
		font-size: 14px;
	}
}

.sliderBig__item .slick-slide.slick-current.slick-active{
	z-index: 10;
}
/*
.sliderBig:hover {
	position: relative;
	transform: scale(1.3, 1.3);
//	z-index: 30;
	@media (max-width: 700px) {
		transform: scale(1, 1);
	}
}*/

//deskription
.deskription {
	position: relative;
	display: flex;
	font-size: 18px;
	letter-spacing: normal;
	text-transform: none;
	margin: 15px auto;
	max-width: 800px;
	min-height: 30px;
	max-height: 40px;
	overflow: hidden;
	transition-duration: 0.5s;
	padding: 0 120px 0 0;
	@media (max-width: 500px) {
		font-size: 12px;
		padding: 0 80px 0 0;
	}
	& span {
		color: #000;
		font-style: italic;
	}
	& p {
	}
}

.deskription.openDescription {
	max-height: 150px;
	min-height: 90px;
	transition-duration: 0.5s;
	@media (max-width: 500px) {
		max-height: 170px;
	}
}
//Button
.openButt {
	position: absolute;
	right: 6px;
	top: 6px;
	text-align: center;
	display: inline-block;
	padding: 5px 0;
	width: 100px;
	background: rgba(189, 183, 107, 0.9);
	box-shadow: 2px 2px 4px #556b2f;
	color: #8b4513;
	transition-duration: 0.5s;
	border-radius: 8px;
	@media (max-width: 500px) {
		width: 70px;
	}
	& span {
	}
}
.openButt:hover {
	background: rgba(126, 81, 9, 0.9);
	color: #fff;
}
.openButt:active {
	background: rgba(126, 81, 9, 0.9);
	color: #fff;
	top: 8px;
	box-shadow: 2px 0px 4px #556b2f;
}

.openButt.downUp {
	top: 60px;
	transition-duration: 0.5s;
}
//Button

//deskription
//Content SecondRow

.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
	justify-content: space-between;
}

//Third row
.rowThird {
	padding: 50px 0;
}
.container {
}
.rowThird {
	&__title {
		text-align: center;
		margin: 30px 0 40px 0;
		font-size: 40px;
	}
}
.title {
}
.price {
	background-color: rgba(189, 183, 107, 0.3);
	&__row {
		display: flex;
		border-bottom: 1px solid #7e5109;
		padding-bottom: 20px;
		align-items: center;
		& p {
			flex: 1 1 33%;
			font-size: 20px;
			padding: 0px 3px;
			text-align: center;
			@media (max-width: 500px) {
				font-size: 15px;
				padding: 0px 1px;
			}
		}
		& p:nth-child(2) {
			border-right: 1px solid #7e5109;
			border-left: 1px solid #7e5109;
		}
		& span {
			color: red;
			font-size: 25px;
			font-weight: bold;
			@media (max-width: 500px) {
				font-size: 15px;
			}
		}
	}
}
#first_row {
	& p {
		font-size: 30px;
		text-align: center;
		color: #000;
		font-weight: bold;
		@media (max-width: 700px) {
			font-size: 20px;
		}
		@media (max-width: 400px) {
			font-size: 15px;
		}
	}
}

//Third row end

//Content

.footer {
	padding: 70px 0;
	background-color: #ac9d97;
	text-align: center;
	color: #161412;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 35px;
}
